@font-face{
	font-family: Avenir;
	src: url('../fonts/AvenirLTStd-Medium.otf');
}

body{
	background-color: white;
	color: white;
	margin: 0;
	font-family: Avenir;
}

div{
	background-color: grey;
	width: 100%;
	height: 300px;
}
@media only screen and (max-width:1024px)
{
}
