@font-face{
	font-family: Avenir;
	src: url('../fonts/AvenirLTStd-Medium.otf');
}

* {
	margin:0;
	padding:0;
}

body{
  background-color:white;
  color:white;
  margin:0;
  font-family:Avenir;
}


nav{
    top:0;
    width:100%;
    position:fixed;
	height: 90px;
	background-color:#00a6ed;
    overflow: hidden;	
    
}

#portfolio{
    
}

table {

    padding: 60px;
    align-content: center;
    table-layout:fixed;
}

td{
    width: 500px;
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

td:hover{
    background-color: #00a6ed;
    
}

button{
	background-color:#00a6ed;
	border:none;
	padding-top:25px;
	padding-right:20px;
}
#menu{
	height:36px;
	width: 104px;
	visibility:hidden;
	float:right;

    
}
img{
    width:100%;
}

nav img
{
	float:left;
	width:90px;
	height:90px;
	padding-left:70px;
	/*
	padding-top:13px;
	*/
}
li {
    padding-left: 90px;
    list-style-type: none;
}


#aboutUs{
    padding: 10px;
    padding-left: 20px;
}

#services{
    padding-left: 90px;
}

nav a{
	float:right;
	
	color:white;
	font-family: Avenir;
	font-size: 25px;
	font-weight:bold;
	padding: 30px;
	

	text-decoration: none;
}

nav a:hover{
	color: lightgrey;
}



 .size{
	
	font-size:56px;
	color:#00a6ed;
	font-weight:bold;
}

#space{
	padding-left:60px;
	
}


#main li{
    display:inline;
	
}
footer{
	width:auto;
	height:auto;
	font-size:14pt;	
}

#bottom_bar{
	background-color:#323137;
	color:white;	
}

#bottom_bar li{
	
	display: inline-block;
    padding: 125px;
}

.linespace{
	height:1.5px;
	width:100px;
	background-color:white;	
}

#aboutUsbanner{
	height:410px;
	width:auto;
	background-image:url(AboutUs_Resources/banner2.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	background-size:cover;
}

@media only screen and (max-width:1282px)
{
	nav a{
		visibility:hidden;
    
	}
	button{
		float:right;
	}
	#menu {
	height:36px;
	width: 104px;
	visibility:visible;
	
	
}
}


