@font-face{
	font-family: Avenir;
	src: url('../fonts/AvenirLTStd-Medium.otf');
}

* {
	margin:0;
	padding:0;
}
/* Stretches images to the edge of mobile devices that have small screens */
html,body
{
    overflow-x: hidden; 
}

body{
  background-color:white;
  color:white;
  margin:0;
  font-family:Avenir;
}


nav{
	width:auto;
	height:90px;
	background-color:#00a6ed;

    overflow: hidden;	

}

table {

    padding: 60px;
    align-content: center;
    table-layout:fixed;
}

td{
    width: 500px;
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;

}

td:hover{
    background-color: #00a6ed;

}

button{
	background-color:#00a6ed;
	border:none;
	padding-top:25px;
	padding-right:20px;
}


#menu{
	height:36px;
	width: 104px;
	visibility:hidden;
	float:right;
}
img{
    width:100%;
}

nav img
{
	float:left;
	width:90px;
	height:90px;
	padding-left:70px;
	/*
	padding-top:13px;
	*/
}
li {
    padding-left: 90px;
    list-style-type: none;
}






nav a{
	float:right;

	color:white;
	font-family: Avenir;
	font-size: 25px;
	font-weight:bold;
	padding: 30px;


	text-decoration: none;
}

nav a:hover{
	color: lightgrey;
}



 .size{

	font-size:56px;
	color:#00a6ed;
	font-weight:bold;
}

#space{
	padding-left:60px;

}
#services{
	background-image:url('images/SERVICESH.jpg');
}

.main li{
    display:inline;

}
.sub_main{

		display:none;
	 }

footer{
	width:auto;
	height:auto;
	font-size:14pt;	
}

#bottom_bar{
	background-color:#323137;
	color:white;	
}

#bottom_bar li{

	display: inline-block;
    padding: 125px;
}

.linespace{
	height:1.5px;
	width:100px;
	background-color:white;	
}


#aboutUsbanner{
	height:410px;
	width:auto;
	background-image:url(AboutUs_Resources/banner2.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	background-size:cover;
}

#myDropdown {
	display: none;
}

@media only screen and (max-width:1282px)
{	
	#myDropdown {
	display: visible;
}
	nav a{
		visibility:hidden;
	}
	button{
		float:right;
	}
	#menu {
	height:36px;
	width: 104px;
	visibility:visible;
     }

	 .main img
	 {

		 display:none;
	 }
	 .sub_main{

		 display:block;
		 width:100%;

	 }
	  .container {

    cursor: pointer;
    float: right;
    padding-right: 60px;

}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Dropdown Button */
.dropbtn {

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    float: right;
    padding-right: 30px;
    padding-top: 9px;
    width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
	 /* For phones smaller than the iphone 6 plus */
	@media only screen and ( max-width: 414px ) {
		nav {
			height: 60px;
		}
		nav img {
			height: 60px;
			width: 60px;
		}
		#menu {
			height:24px;
			width: 67px;
		}
	}
}



	